<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
  </head>
  <body ng-controller="mainController">

    <section class="nav-section zigzag">
      <nav class="navbar">
        <section class="container-fluid row">
          <section class="col-md-4 navbar-left">
            <a ng-click="goHome()" class="font-style">Gratitude</a>
          </section>
          <section class="col-md-4 navbar-right">
            <section>
              <ul ng-hide="isLoggedin()" class="nav row">
                <li class="col-md-4"><a>Sign in</a></li>
                <li class="col-md-4"><a>Sign up</a></li>
              </ul>

              <ul ng-show="isLoggedin()" class="nav row">
                <li class="col-md-4"><a ng-click="doLogout()">Log out</a></li>
              </ul>
            </section>
          </section>
        </section>
      </nav>
    </section> <!-- .nav-section -->

    <section class="notebook">
      <section class="main-cloud-container">
        <img src="http://www.pragmaticea.com/images/160-challenge-word-cloud-raw.png" class="main-cloud">
      </section>

      <section ng-view class="container main-container">
        
      </section> 
    </section>

    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-cookies.js"></script>

    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/services.js"></script>
    <script type="text/javascript" src="/js/controllers.js"></script>
    <script type="text/javascript" src="/js/filters.js"></script>
    <script type="text/javascript" src="/js/directives.js"></script>
  </body>
</html>
