<section class="container notebook">

  <section class="row notebook-header-margin">
<!--     <section class="col-md-2 corner-header-margin">
      <p></p>
    </section> -->
    <section class="col-md-6">
      <p>Date</p>
    </section>
    <section class="col-md-5">
      <p>Gratitude</p>
    </section>
  </section> <!-- row -->

  <section>
    {{hi}}
    <ul ng-repeat="entry in entries track by $index">
      <li>{{entry.entry[0]}}</li>
    </ul>
  </section>

  <section>
    <form>
      <section class="form-group">
        <input type="text" class="form-control notebook-input" ng-model="entry" placeholder="I'm grateful for...">
      </section>
      <button type="submit" ng-click="addEntry(); doGetEntries()" class="btn btn-default">Add entry</button>
    </form>
  </section>

</section> <!-- notebook -->

<!-- push to entries [] as added
save button saves the posts for the date. -->

<!-- best way to go if I want to look up past entries -->

<!-- click to edit entry -->