<section class="container notebook">

  <section class="row notebook-header-margin">
<!--     <section class="col-md-2 corner-header-margin">
      <p></p>
    </section> -->
    <section class="col-md-6">
      <p>Date</p>
    </section>
    <section class="col-md-5">
      <p>Gratitude</p>
    </section>
  </section> <!-- row -->

  <section>
  </section>

  <section>
    <form>
      <section class="form-group">
        <input type="password" class="form-control notebook-input" id="password" name="password" ng-model="password" placeholder="I'm grateful for...">
      </section>
      <!-- <button type="submit" ng-click="" class="btn btn-default">Sign up!</button> -->
    </form>
  </section>

</section> <!-- notebook -->

<!-- push to entries [] as added
save button saves the posts for the date. -->

<!-- best way to go if I want to look up past entries -->