.logo {
  color: beige;
  text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 45px;
}

.logo:hover {
  text-decoration: none;
  color: #E1CF79;
}

/* cloud */
.main-cloud {
  display: none;
  width: 80%;
  margin-bottom: 40px;
}

.main-cloud-container {
  text-align: center;
}

/* notebook color */
.notebook {
  border: solid 1px beige;
  background-color: beige;
}

/* body */
body {
  padding: 0px; 
  padding-top: 30px;
  font-family: 'Architects Daughter', cursive;
  font-size: 23px;
}

/* about section */
 .about-section-p {
  font-size: 15px;  
 }

 .about-section {
  /*background-color: #006b53;*/
  padding: 40px;
 }

/* user page notebook paper style */
 .corner-header-margin {
  border: solid 1px;
 }

 .notebook-header-margin {
  height: 75px;
  border-bottom: solid 1px #E1CF79;
  margin-bottom: 20px;
  margin-top: 40px;
 }

 .notebook-input {
  border: dotted lightgray;
  background-color: beige;
  box-shadow: inset 0 0px 0px rgba(0,0,0,.0);
 }

/* regester and signin form's section centering */
.center {
  margin: auto;
 }

/* nav styles */
.navbar {
  text-align: center;
  margin-bottom: 0; 
}

.nav>li>a {
  padding: 0px;
}

/* image styles */
.img-size {
  width: 15%; 
}

/* line style */
p, .add-line, .line-li:not(:first-child) {
  border-top: solid 1px #E1CF79;
}

/* zigzag border */
.zigzag {
  position: relative;
}

.zigzag:after {
  content: ' ';
  display: block;
  height: 14px;
  position: absolute;
  left: 0;
  right: 0;
}

.zigzag:after{
  bottom: -14px;
  background: 
  linear-gradient(135deg, #fff 25%, transparent 25%),
  linear-gradient(225deg, #fff 25%, transparent 25%),
  linear-gradient(315deg, beige 25%, transparent 25%) -7px 0,
  linear-gradient(45deg, beige 25%, transparent 25%) -7px 0;
  background-size: 14px 14px;
  background-color: #DCDCDB;
}

/* main container styles */
.main-container {
  margin-bottom: 100px;
}

/*entry form*/
.entry-input {
  font-size: 25px;
  padding: 30px;
}

.entry-form {
  padding-top: 20px;
}

.entry-form-btn {
  margin: auto;
  display: block;
  background-color: #F2CF66;
  border: 0;
  border-bottom: 5px solid #D1B358;
  text-shadow: 0px -2px #D1B358;
  padding: 10px;
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.entry-form-btn:hover {
  background-color: #D4A92E;
  border-bottom: 5px solid #B6A46C;
  color: whitesmoke;
}

.entry-form-btn:active {
  background-color: #D4A92E;
  border-bottom: 5px solid #B6A46C;
  color: whitesmoke;
  outline: none;
  border: none;
}

.entry-form-btn:focus {
  background-color: #D4A92E;
  border-bottom: 5px solid #B6A46C;
  color: whitesmoke;
  outline: 0;
}

html {
  background-color: beige;
}

.calendar {
  width: 300px;
}