body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main-cloud {
  width: 80%;
  margin-bottom: 40px;
}

.main-cloud-container {
  text-align: center;
}

.notebook {
  border: solid 1px beige;
  background-color: beige;
  /*padding: 30px;*/
  margin-bottom: 40px;
}

body {
  padding: 0px; 
  padding-top: 30px;
}

 .about-section-p {
  font-size: 15px;  
 }

 .about-section {
  background-color: #006b53;
  padding: 40px;
 }

 .corner-header-margin {
  border: solid 1px;
 }

 .notebook-header-margin {
  height: 100px;
  border-bottom: solid 1px #E1CF79;
  margin-bottom: 20px;
 }

 .notebook-input {
  border: 0;
  background-color: beige;
  box-shadow: inset 0 0px 0px rgba(0,0,0,.0);
 }

body {
  font-family: 'Architects Daughter', cursive;
  font-size: 23px;
 }

.navbar {
  text-align: center;
}

.nav-section {
  border-bottom: solid 1px #E1CF79;
  margin-bottom: 30px;
}